
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499303630457'); /* IE9*/
  src: url('iconfont.eot?t=1499303630457#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499303630457') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499303630457') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499303630457#iconfont') format('svg'); /* iOS 4.1- */
}

.icon{
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { content: "\e615"; }

.icon-bofang:before { content: "\e628"; }

.icon-jiating:before { content: "\e612"; }

.icon-guanbi:before { content: "\e646"; }

.icon-zuojiantou:before { content: "\e629"; }

.icon-youjiantou:before { content: "\e62d"; }

.icon-geren01:before { content: "\e602"; }

.icon-xia:before { content: "\e65e"; }

.icon-iconfontlianxi:before { content: "\e616"; }

.icon-app:before { content: "\e604"; }

.icon-book-o:before { content: "\e632"; }

.icon-arrowDown:before { content: "\e608"; }

.icon-caidan1:before { content: "\e63c"; }

.icon-sousuo:before { content: "\e60e"; }

.icon-touxiang:before { content: "\e6d1"; }

.icon-tiyu:before { content: "\e68a"; }

.icon-shang1:before { content: "\e61f"; }

.icon-yuyan:before { content: "\e634"; }

.icon-yuandian:before { content: "\e603"; }

.icon-denglu:before { content: "\e640"; }

.icon-student:before { content: "\e68e"; }

.icon-huidaodingbu:before { content: "\e7dc"; }

.icon-jigou1:before { content: "\e605"; }

.icon-caidan:before { content: "\e606"; }

.icon-quxiao:before { content: "\e67a"; }

.icon-yishu:before { content: "\e60f"; }

.icon-dian:before { content: "\e601"; }

.icon-xiaozu:before { content: "\e621"; }

.icon-search:before { content: "\e600"; }

